/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.navi {
	background-color: #fff !important;
	color: #AC4E00 !important;
}
nav a{
	color: #AC4E00 !important;
}
.orange{
	background-color: #AC4E00 !important;
}